@charset "utf-8";

/* 헤더푸터등 매엔서브 공통부분 */

/* 블루 : #3e558a , 그린 : #459c59  */

/* ------------------------------------------------------------------ visual ------------------------------------------------------------------ */

/* #home_visual									{overflow: hidden; position: relative; top: 0; left: 0; background: black; height: 100%; width: 100%;}
#home_visual .img_container						{position: absolute; width: 100%; height: 100%;}
#home_visual .img_container li					{overflow: hidden; position: absolute; width: 100%; height: 100%;}
#home_visual .img_container li .bg				{width: 100%; height: 100%; background-size: cover; background-position: center center; background-repeat: no-repeat;}
#home_visual .img_container li .bg img 			{height: 100%;}

#home_visual .img_container li .textbox					{position: absolute; top: 50%; transform: translateY(-30%); left: 15%; opacity: 0;}
#home_visual .img_container li .textbox p.btn			{opacity: 0; border: 1px solid #fff; width: 200px; height: 60px; text-align: center; transition: all 1.5s; -webkit-transition: all 1.5s; margin-top: 80px;}
#home_visual .img_container li .textbox p.btn a			{display: block; font: 300 20px/60px 'Noto Sans KR', sans-serif; color: #fff; transition: all .2s; -webkit-transition: all .2s;}
#home_visual .img_container li .textbox p.btn a:hover	{background-color: rgba(0,0,0,.1);}

#home_visual .img_container li.active .textbox			{transform: translateY(-50%); transition: all 2.5s; -webkit-transition: all 2.5s; opacity: 1;}
#home_visual .img_container li.active .textbox p.btn	{transition-delay: 1s; -webkit-transition-delay: 1s; opacity: 1;}

#home_visual p.face				{position: absolute; bottom: 80px; left: 50px;}
#home_visual p.face a			{display: block; color: #fff; width: 40px; height: 40px; line-height: 40px; border: 1px solid rgba(255,255,255,0.4); border-radius: 40px; text-align: center;}
#home_visual p.face a i			{opacity: 1; transition: all .2s; -webkit-transition: all .2s;}
#home_visual p.face a:hover i	{opacity: 0.3;}

#home_visual .bg_btn					{position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
#home_visual .bg_btn p					{display: inline-block;}
#home_visual .bg_btn p:nth-child(1)		{margin-right: 40px;}
#home_visual .bg_btn p a				{display: block; color: rgba(255,255,255,1);}
#home_visual .bg_btn p a:hover			{color: rgba(255,255,255,.5); transition: all .2s; -webkit-transition: all .2s;}

#home_visual .controls					{position: absolute; top: 50%; right: 50px; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
#home_visual .controls li				{margin-bottom: 25px;}
#home_visual .controls li a				{display: block; background: rgba(255,255,255,.5); width: 6px; height: 6px; border-radius: 6px; cursor: pointer;}
#home_visual .controls li a.active		{background: rgba(255,255,255,1);}

#home_visual .scroll			{position: absolute; width: 30px; height: 46px; border: 2px solid #fff; border-radius: 17px; text-align: center; box-sizing: border-box; left: 50%; bottom: 80px;}
#home_visual .scroll:hover		{cursor: pointer;}
#home_visual .scroll p			{width: 4px; height: 5px; background: #fff; border-radius: 5px; margin: 0 auto; animation-duration: 1.8s; animation-name: scroll; animation-iteration-count: infinite;}
#home_visual .scroll span		{color: #fff; font-size: 12px; text-align: center; position: absolute; left: 50%; transform: translateX(-50%); bottom: -22px;} */

@keyframes scroll{
  0%	{transform: translateY(11px);}
  50%	{transform: translateY(27px);}
  100%	{transform: translateY(11px);}
}

/* ------------------------------------------------------------------ visual02------------------------------------------------------------------ */

#home_visual02								{width:100%;}
.mainVisual div.bg							{width:100%; height:100%;}
.mainVisual div.bg .textbox					{position:absolute; width:1300px; top:50%; left:50%; opacity:0; transform:translate(-50%, -30%);}
.mainVisual div.bg .textbox p.btn			{opacity:0; border: 1px solid #fff; width: 200px; height: 60px; text-align: center; transition: all 1.5s; -webkit-transition: all 1.5s; margin-top: 80px;}
.mainVisual div.bg .textbox p.btn a			{display: block; font: 300 20px/60px 'Noto Sans KR', sans-serif; color: #fff; transition: all .2s; -webkit-transition: all .2s;}
.mainVisual div.bg .textbox p.btn a:hover	{background-color: rgba(0,0,0,.1);}

.mainVisual .slick-active .textbox			{animation: txtbox 2.2s cubic-bezier(0.53, 0.01, 0.29, 0.91) 1 both;}
.mainVisual .slick-active .textbox p.btn	{animation: txtbtn 0.8s cubic-bezier(0.53, 0.01, 0.29, 0.91) 0.5s 1 both;}


#home_visual02 .mainVisual li .textbox					{position: absolute; top: 50%; transform: translate(-50%); left: 38%; opacity: 0;}
#home_visual02 .mainVisual li .textbox p.btn			{opacity: 0; border: 1px solid #fff; width: 200px; height: 60px; text-align: center; transition: all 1.5s; -webkit-transition: all 1.5s; margin-top: 80px;}
#home_visual02 .mainVisual li .textbox p.btn a			{display: block; font: 300 20px/60px 'Noto Sans KR', sans-serif; color: #fff; transition: all .2s; -webkit-transition: all .2s;}
#home_visual02 .mainVisual li .textbox p.btn a:hover	{background-color: rgba(0,0,0,.1);}

#home_visual02 .mainVisual li.slick-active .textbox			{transform: translateY(-50%); transition: all 2.5s; -webkit-transition: all 2.5s; opacity: 1;}
#home_visual02 .mainVisual li.slick-active .textbox p.btn	{transition-delay: 1s; -webkit-transition-delay: 1s; opacity: 1;}

#home_visual02 .bg_btn						{position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: rotate(-90deg); -webkit-transform: rotate(-90deg);}
#home_visual02 .bg_btn p					{display: inline-block;}
#home_visual02 .bg_btn p:nth-child(1)		{margin-right: 40px;}
#home_visual02 .bg_btn p a					{display: block; color: rgba(255,255,255,1);}
#home_visual02 .bg_btn p a:hover			{color: rgba(255,255,255,.5); transition: all .2s; -webkit-transition: all .2s;}


.mainVisual .slick-dots						{width:auto; right:50px; height:max-content; bottom:0; top:50%; transform:translateY(-50%)}
.mainVisual .slick-dots li					{display:block; width:6px; margin:0; padding:17px 0;}
.mainVisual .slick-dots li button			{width:6px; height:6px; padding:0px; opacity:0.5; background:#fff; border-radius:30px;}
.mainVisual .slick-dots li button:before	{display:none;}
.mainVisual .slick-dots li.slick-active button	{opacity:1;}

.mainVisual .slick-arrow		{left:40px !important; top:50% !important; right:auto !important; right:auto !important; z-index:2; transform: rotate(-90deg);}
.mainVisual .slick-prev			{margin-top:-40px;}
.mainVisual .slick-prev:before	{content:"Prev"; font: 300 17px/25px 'Noto Sans KR', sans-serif; color: #fff;}
.mainVisual .slick-next			{margin-top:40px;}
.mainVisual .slick-next:before	{content:"Next"; font: 300 17px/25px 'Noto Sans KR', sans-serif; color: #fff;}


#home_visual02 .scroll			{position: absolute; width: 30px; height: 46px; border: 2px solid #fff; border-radius: 17px; text-align: center; box-sizing: border-box; left: 50%; bottom: 80px;}
#home_visual02 .scroll:hover	{cursor: pointer;}
#home_visual02 .scroll p		{width: 4px; height: 5px; background: #fff; border-radius: 5px; margin: 0 auto; animation-duration: 1.8s; animation-name: scroll; animation-iteration-count: infinite;}
#home_visual02 .scroll span		{color: #fff; font-size: 12px; text-align: center; position: absolute; left: 50%; transform: translateX(-50%); bottom: -22px;}

@keyframes txtbox{
  from{
  opacity:0;
  transform:translate(-50%, -30%)
  }
  to{
   opacity:1;
  transform:translate(-50%, -50%)
  }
}

@keyframes txtbtn{
  from{
  opacity:0
  }
  to{
  opacity:1
  }
}

/* ------------------------------------------------------------------ visual end ------------------------------------------------------------------ */

/* 공통 main h */
div.main_h			{display: inline-block;}
div.main_h h2		{font: 700 56px/60px 'Montserrat', 'Noto Sans KR', sans-serif; color: 333; margin-top: 118px;}
div.main_h p.tit	{/* margin: 35px 0 20px 0; */ font: 600 34px/44px 'Montserrat', 'Noto Sans KR', sans-serif; color: 333;}
div.main_h p.tt		{font: 300 18px/22px 'Montserrat', 'Noto Sans KR', sans-serif; color: 666;}

/* ------------------------------------------------------------------ News ------------------------------------------------------------------ */

div.main_news								{max-width: 1300px; width: 1300px; margin: 0 auto; padding-bottom: 60px;}
div.main_news .news_pos_box					{position: relative;}

div.main_news div.tab01,
div.main_news div.tab02						{display: none;}

div.main_news ul.depth						{display: inline-block; vertical-align: bottom; margin-left: 60px;}
div.main_news ul.depth li					{display: inline-block; margin: 0 5px;}
div.main_news ul.depth li a					{display: block; font: 400 20px/38px 'Montserrat', 'Noto Sans KR', sans-serif; text-align: center; width: 115px; border: 3px solid #fff; padding: 0 20px; border: 3px solid #fff;  border-radius: 50px;}
div.main_news ul.depth li a:hover			{border: 3px solid #ddd; border-radius: 50px; transition: all .5s;}
div.main_news ul.depth li a:nth-child(1)	{width: auto;}
div.main_news ul.depth li.btn_on a			{border: 3px solid #3e558a; border-radius: 50px; box-sizing: border-box;}

div.main_news .all_btn						{display: inline-block; position: absolute; bottom: 0; right: 0;}
div.main_news .all_btn a					{display: block; background: #3e558a; color: #fff; padding: 14px 20px; font: 300 18px/22px 'Montserrat', 'Noto Sans KR', sans-serif; transition: all .2s;}
div.main_news .all_btn a:hover				{background: #1c3160;}

div.main_news ul.news_box					{display: flex; justify-content: space-between; margin-top: 40px;}
div.main_news ul.news_box li				{width: 410px; border: 1px solid #fff; position: relative; -webkit-transform: translateY(100px); transform: translateY(100px); opacity: 0; transition: transform 1s ease-in-out, opacity 1s ease-in-out;}
div.main_news ul.news_box li a				{display: block; background: #f9f9f9; padding: 40px; box-sizing: border-box; min-height: 326px;}
div.main_news ul.news_box li:hover			{border: 1px solid #3e558a; box-shadow: 0 0 25px rgb(30 35 48 / 15%); transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;}

div.main_news ul.news_box li a span			{display: block; text-align: center; width: 38px; height: 22px; color: #fff; font: 300 15px/22px 'Montserrat', 'Noto Sans KR', sans-serif;}
div.main_news ul.news_box li a span.blue	{background: #3e558a;}
div.main_news ul.news_box li a span.green	{background: #459c59;}

div.main_news ul.news_box li a .tt			{margin: 15px 0 25px 0; font: 500 20px/32px 'Montserrat', 'Noto Sans KR', sans-serif; height: 64px;}
div.main_news ul.news_box li a .tit			{font: 300 18px/28px 'Montserrat', 'Noto Sans KR', sans-serif; color: #818181; overflow:hidden; text-overflow:ellipsis; display:-webkit-box;  -webkit-box-orient:vertical; -webkit-line-clamp:2; height:3.2em; word-wrap:break-word;}
div.main_news ul.news_box li a .data		{font: 600 15px/28px 'Montserrat', 'Noto Sans KR', sans-serif; color: #3e558a; margin-top: 35px; position: absolute; bottom: 40px;}

div.main_news ul.news_box.active li					{position: relative; -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1;}
div.main_news ul.news_box.active li:nth-child(1)	{transition-delay: 0.2s;}
div.main_news ul.news_box.active li:nth-child(2)	{transition-delay: 0.4s;}
div.main_news ul.news_box.active li:nth-child(3)	{transition-delay: 0.7s;}
div.main_news ul.news_box.active li:hover			{border: 1px solid #3e558a; box-shadow: 0 0 25px rgb(30 35 48 / 15%); transition: border 0.5s ease-in-out, box-shadow 0.5s ease-in-out;}

/* ------------------------------------------------------------------ News end ------------------------------------------------------------------ */

/* .main_center							{margin-bottom: 120px;} */
.main_center 							{overflow: hidden;}
.main_center ul							{display: flex; margin: 0 auto; width: 1300px; justify-content: space-between;}
.main_center ul li						{position: relative;}
.main_center ul li a					{display: block;}
.main_center ul li:hover a::before		{content: ''; background: url(/_img/web/main/green_bg.png) no-repeat; display: inline-block; width: 633px; height: 160px; position: absolute; transition: all 0.5s;}
.main_center ul li div					{position: absolute; top: 16%; left: 40px;}
.main_center ul li div p				{color: #fff; font: 300 16px/24px 'Montserrat', 'Noto Sans KR', sans-serif;}
.main_center ul li:hover div p			{margin-left: 128px; transition: all 1.5s;}
.main_center ul li div p.tit			{font: 400 26px/52px 'Montserrat', 'Noto Sans KR', sans-serif;}
.main_center ul li div img				{position: absolute; top: 20%; opacity: 0;}
.main_center ul li:hover div img		{opacity: 1; transition: all .5s; transition-delay: .8s;}

.main_center ul li p.click				{position: absolute; right: 40px; top: 45%;}
.main_center ul li p.click::after		{content: ''; display: inline-block; position: absolute; right: 0; background: url('/_img/web/main/click.png') no-repeat 50% 50%; width: 8px; height: 14px;}
.main_center ul li:hover p.click		{animation-duration: 1.8s; animation-name: pos; animation-iteration-count: infinite;}

.main_center ul li:nth-child(1)			{opacity: 0; -webkit-transform: translateX(-50px); transform: translateX(-50px); transition: all 1s ease-in-out;}
.main_center.active ul li:nth-child(1)	{opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px);}
.main_center ul li:nth-child(2)			{opacity: 0; -webkit-transform: translateX(50px); transform: translateX(50px); transition: all 1s ease-in-out;}
.main_center.active ul li:nth-child(2)	{opacity: 1; -webkit-transform: translateX(0px); transform: translateX(0px); transition-delay: 0.5s;}

@keyframes pos{
  0%	{transform: translateX(0px); opacity: 1;}
  30%	{opacity: 1;}
  50%	{transform: translateX(10px); opacity: 0;}
  100%	{transform: translateX(0px); opacity: 0;}
}

/* ------------------------------------------------------------------ main_center end ------------------------------------------------------------------ */

.main_event					{position: relative;}
.main_event .bg				{opacity: 0; width: 700px; height: 500px; background: #3e558a; transition: all 1.5s;}
.main_event.active .bg		{opacity: 1; width: calc(50% + 205px); height: 500px; background: #3e558a;}

.main_event .event_box					{max-width: 1300px; margin: 0 auto;}
.main_event .event_box .main_h			{position: absolute; top: 0px; color: #fff; opacity: 0;}
.main_event.active .event_box .main_h	{opacity: 1;  transition: all 1s; transition-delay: 1s;}
.main_event .event_box .main_h .tt		{color: #9fabc5;}

.main_event .event_box .img_box						{width: 1300px; display: flex; justify-content: space-between;}
.main_event .event_box .img_box p					{opacity: 0; transition: all 1.5s; box-shadow: 0 0 25px rgb(30 35 48 / 15%); height: 450px; overflow: hidden;}
.main_event .event_box .img_box p a					{display: block;}
.main_event .event_box .img_box p:hover a img		{transform: scale(1.05); transition: all .5s;}

.main_event .event_box .img_box p:nth-child(1)		{transform: translateY(-15px); margin-left: -10px;}
.main_event .event_box .img_box p:nth-child(2)		{transform: translateY(-200px);}
.main_event .event_box .img_box p:nth-child(3)		{transform: translateY(-105px); margin-right: -10px;}

.main_event.active .event_box .img_box p				{opacity: 1;}
.main_event.active .event_box .img_box p:nth-child(1)	{transform: translateY(-65px); transition-delay: 1.5s;}
.main_event.active .event_box .img_box p:nth-child(2)	{transform: translateY(-250px); transition-delay: 0.8s;}
.main_event.active .event_box .img_box p:nth-child(3)	{transform: translateY(-155px); transition-delay: 1.2s;}

.main_event ul.text_box						{opacity: 0; text-align: center; margin-top: -150px; transition: all 1.5s; transition-delay: 2.2s; padding-bottom: 80px;}
.main_event ul.text_box li					{width: 410px; margin: 0 auto; text-align: left;}
.main_event ul.text_box li a				{transition: all .3s; display: flex; position: relative; font: 400 20px/28px 'Montserrat', 'Noto Sans KR', sans-serif; border-bottom: 1px solid #ddd; padding-bottom: 20px; margin-bottom: 20px;}
.main_event ul.text_box li a:hover			{color: #3e558a; border-bottom: 1px solid #3e558a;}
.main_event ul.text_box li a::after			{content: ''; display: inline-block; background: url('/_img/web/main/plus.png') no-repeat; width: 18px; height: 18px; position: absolute; right: 0; top: 10%;}
.main_event ul.text_box li a:hover::after	{background: url('/_img/web/main/b_plus.png') no-repeat; transform: rotate(180deg); transition: all .5s ease-in-out;}
.main_event ul.text_box li a p				{position: absolute; right: 0; top: 25%;}

.main_event.active ul.text_box				{opacity: 1;}

/* ------------------------------------------------------------------ main_event end ------------------------------------------------------------------ */

.main_member										{overflow: hidden;}
.main_member .member_box							{display: flex; justify-content: space-between; align-items: center; max-width: 1300px; margin: 0 auto;}

.main_member .member_box .main_h p.tit				{margin-top: 0;}
.main_member .member_box .main_h p.tt::after		{content: ''; background: url('/_img/web/main/g_click.png') no-repeat; display: inline-block; width: 8px; height: 14px; margin-left: 10px;}
.main_member .member_box .main_h p.tt:hover::after	{animation-duration: 1.8s; animation-name: pos; animation-iteration-count: infinite;}
.main_member .member_box .main_h p.tt a				{display: inline-block;}

.main_member .member_box ul							{position: relative; display: flex; width: 1045px; justify-content: space-between; background: #f9f9f9; padding: 40px 0 40px 60px;}
.main_member .member_box ul::after					{content: ''; width: 100%; height: 222px; background: #f9f9f9; display: inline-block; position: absolute; top: 0; right: -1045px;}
.main_member .member_box ul li						{text-align: center; font: 400 18px/26px 'Montserrat', 'Noto Sans KR', sans-serif;}
.main_member .member_box ul li img					{margin-bottom: 20px;}

/* ------------------------------------------------------------------ main_member end ------------------------------------------------------------------ */

.main_rel 							{overflow: hidden; max-width: 1300px; width: 1300px; margin: 100px auto;}
.main_rel .rel_slick 				{margin: 0 30px;}
.main_rel .rel_slick div.site		{display: table !important; height: 70px; border: 1px solid #ddd; width: 240px !important; margin: 0 auto;}
.main_rel .rel_slick div.site a 	{display: flex; align-items: center; justify-content: space-around; height: 70px;}
.main_rel .rel_slick div.site a img	{max-width: 80%; max-height: 55px;}

.main_rel .rel_slick button:nth-child(1)	{position: absolute; left: -27px; background: url('/_img/web/comn/pre.png') no-repeat;}
.main_rel .rel_slick button:nth-of-type(2)	{position: absolute; right: -35px; background: url('/_img/web/comn/next.png') no-repeat;}








